@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

.font-sora {
  font-family: "Sora", sans-serif;
}

.font-onest {
  font-family: "Onest", sans-serif;
}

body {
  /* background: #e0e0e0; */
  font-family: "Onest", sans-serif;
}

